<div class="clear"></div>
		
		<div id="left">
            <div class="boxtop"></div>
				<div class="box">
				    <object width="300" height="200">
<param name="movie" value="/images/webcam.swf">
<embed src="/images/webcam.swf" width="300" height="200">
</embed>
</object>
				</div>
				<div class="boxbottom"></div>
		</div>
		
		<div id="side">
				<div class="boxtop"></div>
				<div class="box">
				    <object width="300" height="200">
<param name="movie" value="/images/webcam.swf">
<embed src="/images/webcam.swf" width="300" height="200">
</embed>
</object>
				</div>
				<div class="boxbottom"></div>
        </div>