<div class="clear"></div>
		
		<div id="left">
				    <object width="320" height="240">
<param name="movie" value="/images/webcam.swf">
<embed src="/images/webcam.swf" width="320" height="240">
</embed>
</object>
		</div>
		
		<div id="side">
				    <embed src="/images/girl1.m4v" autostart="false"  width="320" height="240"></embed>
        </div>