<div class="clear"></div>
		
		<div id="left">
			<h2>What to speed date from home?</h2>
			<p>Why would you want to use video speed dating?
			 <ul>
			     <li>Don't have to go anywhere</li>
			     <li>Pre-screened singles</li>
			     <li>Get to know their personalities quicker</li>
			 </ul>
			</p>
			<p><a class="more" href="#">Sign Up</a> <a class="more" href="#">Demo</a> </p>
		</div>
		
		<div id="side">
				<div class="boxtop"></div>
				<div class="box"></div>
				<div class="boxbottom"></div>
        </div>