<div class="clear"></div>
    
    <div id="left">
        <object width="320" height="240">
            <param name="movie" value="/images/webcam.swf">
            <embed src="/images/webcam.swf" width="320" height="240"></embed>
        </object>
    </div>

    <div id="center"></div>
		
    <div id="side">
        <div id='movie' sytle='width: 320px; display: block;'>
            <embed src="/images/Girl1.m4v" autostart="true"  width="320" height="240"></embed>
        </div>
            <br>
            <img src="/images/thumbs_up.png" width="50" id='up'>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <img src="/images/thumbs_down.png" width="50" id='down'>
        
        <br>
        <p style='display: block; width: 320px;'>Click <b style='color: green'>thumbs up</b> if you would like to keep talk to this person.  Click <b style='color: red'>thumbs down</b> if you don't connect with this person</p>
    </div>

<div class="example exampleA">
		<h2>Speed Date Countdown</h2>
		<div class="timer"></div>
</div>
		