<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="content-type" content="application/xhtml+xml; charset=UTF-8" />
	<meta name="author" content="Luka Cvrk - www.solucija.com" />
	<meta name="description" content="Site Description" />
	<meta name="keywords" content="site, keywords" />
	<meta name="robots" content="index, follow" />
	<link rel="stylesheet" type="text/css" media="screen" href="/stylesheets/style.css" />
	<title>DateRoulette - no dicks allowed</title>
	<script src='/javascript/jquery.js'></script>
	<script src='/javascript/media.js'></script>
</head>
<body>
	<div class="wrap background">
		<ul id="menu">
			
		</ul>
			
		<div id="logo">
			<h1><a href="/">Date<br />Roulette</a></h1>
			<h2 id="slogan">Video Speed Dating</h2>
		</div>

	       <%- body %>
		
		<p id="ad">This site is for entertainment purposes only.  If you meet the love of your life that is a bonus.</p>
	</div>
	<script>
	$(document).ready(function() {
	
	   console.log($('side embed').attr('src'));
	   
        $("#up").click(function(event){
            
        });
        
        $("#down").click(function(event){
            alert("Not");
        });
	
	})
	</script>
</body>
</html>
