<h1><%= title %></h1>
<p>Welcome to <%= title %></p>


<object width="300" height="200">
<param name="movie" value="/images/webcam.swf">
<embed src="/images/webcam.swf" width="300" height="200">
</embed>
</object>
