<h1><%= title %></h1>
<p>Welcome to <%= title %></p>


<object width="550" height="400">
<param name="movie" value="/images/webcam.swf">
<embed src="/images/webcam.swf" width="550" height="400">
</embed>
</object>
