<div class="clear"></div>

<div id="left">
<form method="post" action="/signup_submit">
	<label for="email">email:</label>
	<input type="text" name="email" id="email" />
	<input type="submit" value="signup" />
</form>
</div>
