
<script type="text/javascript">
$(document).ready(function() {
});
</script>


<form method="post" action="/do_upload">
	<label for="floorlpan">floorlpan:</label>
	<input type="text" name="floorlpan" id="floorlpan" />
	<input type="submit" value="submit floorplan" />
</form>